body {
    background-color: #2b5479;
    padding: 2em;
    color: aliceblue;
}

#submitTask{
    background-color: #2b7977;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width:200px;
    border-radius: 25px;
}

.green-button {
    background-color: #50a14d;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

.red-button {
    background-color:#a43438;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

#header{
    display: flex;
    flex-basis: 75%;
}

.light-text{
    color: aliceblue;
}

.isDone{
    background-color: #50a14d;
}

.adSpot{
    display: flex;
    align-items: center;
    border-radius: 13px;
    border-style: dashed;
    border-width: 5px;
    border-color: #7f98ae;
    justify-content: center;
    margin-left: 3em;
    padding: 1em
}


.inputRow{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    flex-basis: 65%
}

.inputBig{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
}

.submitButton{
    display: flex;
    justify-content: center;
    padding: 1em;
}



.inputField{
    padding: 5px;
    margin: 5px;
}